body {
  background-image: url('https://images.pexels.com/photos/9392561/pexels-photo-9392561.jpeg?cs=srgb&dl=pexels-mati-9392561.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0
 
}